* { box-sizing: border-box; margin: 0; padding: 0; }

html { scroll-behavior: smooth; }

a, input, button { outline: none; cursor: pointer; text-decoration: none; appearance: none; }

li { text-decoration: none; list-style-type: none; }

iframe { max-width: 90%; }
